body {
    background: #060506;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: rgb(173, 168, 177);
}

.photo {
    border-radius: 50%;
    border: 2px solid;
}
#title, .subtitle, .post_title {
    color: rgb(173, 168, 177);
}

#title{
    font-size: 30px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: rgb(173, 168, 177);
    background-color: transparent;
    background-image: linear-gradient(90deg, #D01120 0%, #0F0F0F 100%);
    padding: 5px;
}
a:hover{
    text-decoration: underline;
    background: rgb(83, 2, 2);
}
.post_title{
    font-size: 18px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
    text-align: center;
    
}

.post {
    background: #333333;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #D01120 0%, #0F0F0F 100%);
}
li {
    display: inline-block;
    margin: 20px;
    font-family: poppinsmedium;
}

.test_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px ;
    width: 100%;
    
}
.contacts_list{
    list-style-type: none;
    padding-left: 15px;

}
.contacts_list li a{
    text-decoration: none;
}